footer
  .container.text-center
    p.pull-left © 2015 Solar Rangers, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://www.solar-rangers.com/invest') Invest
      li
        a(href='https://www.solar-rangers.com/about') About