extends layout

block content
  h1 Solar Rangers
  p.lead Crowdfund solar projects.
  hr
  h2 Developer opportunities
  p The GSD Solar platform provides critical funding to complete the necessary steps to create early stage solar projects. Investors provide capital to selected market opportunities, funding concepts which will create the most value.  Those funds are used to incentivize  independent developers to work on required tasks, such as site and customer acquisition. This platform provides a  opportunity for professionals new to solar to translate existing skills into related project activities and gives existing developers a unique source of at risk development capital.
  a(href='/develop-mn', style='color: #fff')
  img(src='/img/us-map.png', width=1200)