extends layout

block content
  h2 Developer Opportunities
  hr

  p
  table(border=2)
    tr
      th T1
      th - Obtain Site Options
      th 
    tr
      td 
      td MIN ACRE: 5 <br />
        | MAX ACRE: 15 <br />
        | MAX DISTANCE TO INTERCOMM: 15 <br />
        | MAX ANNUAL PAYMENT: $1000 / ACRE <br />
      td $10000 (base) + Insulation Bonus
    tr
      th T2
      th - Preliminary design & production estimate
      th 
    tr
      td 
      td Complete layout <br />
        | KW / Hour forecast <br />
        | Payment: bid starting at $100 <br />
      td Starting bid $100