extends layout

block content
  h1 Solar Rangers
  p.lead Crowdfund solar projects.
  hr
  .row
    .col-sm-6
      h2 I want to invest
      p Our platform allows investors to participate in the most lucrative portion of the the project value stream, early stage project development. Investors select which markets and concepts to pursue, diversifying risk across projects rather than in specific deals. Crowdfunding early stage project development gives investors who are willing to accept these risks with the advantage of superior market returns.
      p
        a.btn.btn-default(href='/invest', role='button') View details »
      p
        img(src='/img/dollarsign.jpg', width=525)
    .col-sm-6
      h2 I want to develop
      p The GSD Solar platform uses crowdfunded investments to pursue early stage project development. Our task management system allows individuals and organizations in the project development ecosystem to pursue discrete tasks well suited to their expertise. This investment gives new developers an incentive to enter the market and provides under capitalized developers with critical funds necessary to carry out their work..
      p
        a.btn.btn-default(href='/develop', role='button') View details »
      p
        img(src='/img/screwwrench.jpg', width=525)