extends layout

block content
  h2 Investor Opportunities
  hr

  .row
    .col-sm-4
      a(href='/invest-mn', style='color: #FFF; a:link { color: #FFFFFF; text-decoration: none;}')
        .panel.panel-default(style='height: 400px;')
          .panel-heading(style='background-color: #000;') MN Community Solar
          .panel-body(style='color: #000')
            |  MN Community Solar
            p
            img(src='/img/mn.jpg', width=325)
    .col-sm-4
      a(href='/invest-ca', style='color: #FFF; a:link { color: #FFFFFF; text-decoration: none;}')
        .panel.panel-default(style='height: 400px;')
          .panel-heading(style='background-color: #000;') CA Commercial Rooftop
          .panel-body(style='color: #000')
            |  CA Commercial Rooftop
            p
            img(src='/img/ca.png', width=325)
    .col-sm-4
      a(href='/invest-mn', style='color: #FFF; a:link { color: #FFFFFF; text-decoration: none;}')
        .panel.panel-default(style='height: 400px;')
          .panel-heading(style='background-color: #000;') NV Residential Portfolio
          .panel-body(style='color: #000')
            |  NV Residential Portfolio
            p
            img(src='/img/nv.png', width=325)
    .col-sm-4
      a(href='/invest-mn', style='color: #FFF; a:link { color: #FFFFFF; text-decoration: none;}')
        .panel.panel-default(style='height: 400px;')
          .panel-heading(style='background-color: #000;') NC Utility Scale
          .panel-body(style='color: #000')
            |  NC Utility Scale
            p
            img(src='/img/nc.jpg', width=325)
    .col-sm-4
      a(href='/invest-mn', style='color: #FFF; a:link { color: #FFFFFF; text-decoration: none;}')
        .panel.panel-default(style='height: 400px;')
          .panel-heading(style='background-color: #000;') CA Community Solar
          .panel-body(style='color: #000')
            |  CA Community Solar
            p
            img(src='/img/ca.png', width=325)
    .col-sm-4
      a(href='/invest-mn', style='color: #FFF; a:link { color: #FFFFFF; text-decoration: none;}')
        .panel.panel-default(style='height: 400px;')
          .panel-heading(style='background-color: #000;') HI Small Commercial
          .panel-body(style='color: #000')
            |  HI Small Commercial
            p
            img(src='/img/hi.jpg', width=325)