extends layout

block content
  h2 Investor Opportunities
  hr

  h2 Investment Fund 1:MN Community Solar
  p
    img(src='/img/ilsr.png', width=525)
  h2 Tasks Funded
  ol
    li Find and sign lease option agreements using standard template and meeting pre-determined site criteria.
    li Create preliminary system design and production estimates for each executed site option agreement.
    li Provide permit and study matrix to summarize necessary environmental and construction approvals. 
    li Submit preliminary utility interconnection application and obtain queue status.

  h2 Goal
  ol
    li 50 MW of site leases in 5-10 acre blocks & 10 MW of subscription off take agreements
    li $500,000 Investment Target
    li Identify project development and finance providers with the ability to execute a transaction and fund the final development stages.

  h2 Exit
  p Sell portfolio of sites and offtake agreements to late stage project developer. There are multiple developers pursuing offtake and site lease acquisitions under the Minnesota Community Solar Gardens program. Our platform will provide these developers to supplement their deal pipelines or acquire a stake in an emerging market opportunity.

