extends layout

block content
  h2 Investor Opportunities
  hr

  h2 C1:CA
  ol
    li Install Solar
    li Energy Rates
    li Average Return
  h2 Goal
  ol
    li 50 MW installation space & 10 MW of off take
    li 50000 Investment target
    li PV Watts Exit
    p Selling portfolio to developer.

